<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-commerce</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="container">
    <div class="penel">
        <h5 class="texts"> 30% off stoorewide - Limited time !</h5>
       
    </div>
</div>



{{> navbar data=informaitions}}

   
   

<div class="hero-section">
    
</div>


<div class="shooping ">
   <h2>Best of Electronics</h2> 
      <div class="shooping-product"> 
        <div class="shooping-box">
    <div class="shooping-img" style="background-image: url(images/Screenshot\ 2024-07-18\ 115434.png);"> 
    </div>
    <p class="shooping-text">Truewireless headphone</p>
</div>
<div class="shooping-box">
    <div class="shooping-img" style="background-image: url(images/printer.png);"> 
    </div>
    <p class="shooping-text">Printers From $ 1000</p>
</div>
<div class="shooping-box">
    <div class="shooping-img" style="background-image: url(images/smart\ boat.png);"> 
    </div>
    <p class="shooping-text">Noise Smartwatches from $500</p>
</div>
<div class="shooping-box">
    <div class="shooping-img" style="background-image: url(images/bot\ smart.png);"> 
    </div>
    <p class="shooping-text">Fastrack Smartwachtes from $600 </p>
</div>
<div class="shooping-box">
    <div class="shooping-img" style="background-image: url(images/camera.png);"> 
    </div>
    <p class="shooping-text">Top Mirrorless camera </p>
</div>

</div>
</div>

<div class="shooping">
    <h2 >Beayty, Food, toys & more</h2> 
       <div class="shooping-product"> 
         <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/cyical.png);"> 
     </div>
     <p class="shooping-text">Treadnil, Exercise Bikes</p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/batman.png);"> 
     </div>
     <p class="shooping-text">Best of action toys</p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/gudha.png);"> 
     </div>
     <p class="shooping-text">Soft Toys</p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/bdam.png);"> 
     </div>
     <p class="shooping-text">Dry Fruits upto 100% of </p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/microphone.png);"> 
     </div>
     <p class="shooping-text">TrMicrophonees uo to 40% off</p>
 </div>
 
 </div>
 </div>
 
 <div class="shooping">
    <h2 >Sports, Healthcare & more</h2> 
       <div class="shooping-product"> 
         <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/sportcar.png);"> 
     </div>
     <p class="shooping-text">Remote Control Toys </p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/Gym.png);"> 
     </div>
     <p class="shooping-text">gyme Essentials From $100</p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/tea.png);"> 
     </div>
     <p class="shooping-text">Tea prowdes </p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/boock.png);"> 
     </div>
     <p class="shooping-text">Self Help Boock </p>
 </div>
 <div class="shooping-box">
     <div class="shooping-img" style="background-image: url(images/pinat.png);"> 
     </div>
     <p class="shooping-text">Breakfast Cereal </p>
 </div>
 
 </div>
 </div>
 


<div class="more-hading"> 
    <h4>Best Gadgets & Appliances</h4> 
    <h4 >Monsoon-ready style </h4> 
    <h4 >Monsoon Essentials</h4> 
</div>
<div class="more-shooping"> 
        
           <div class="more-product"> 
             <div class="more-box">
         <div class="more-img" style="background-image: url(images/shaver.png);"> 
         </div>
         <p class="more-text">Shavers  -  Min 50% off </p>
     </div>
     <div class="more-box">
         <div class="more-img" style="background-image: url(images/neckband.png);"> 
         </div>
         <p class="more-text">Neckband Grab or Game </p>
     </div>
     <div class="more-box">
        <div class="more-img" style="background-image: url(images/band.png);"> 
        </div>
        <p class="more-text">Smart Bands</p>
    </div>
    <div class="more-box">
       <div class="more-img" style="background-image: url(images/wairs.png);"> 
       </div>
       <p class="more-text">Mobile Cables </p>
    </div>
   
     </div>



 






     <div class="more-product"> 
       <div class="more-box">
   <div class="more-img" style="background-image: url(images/shorts.png);"> 
   </div>
   <p class="more-text">Man shorts  Min 40% off  </p>
</div>
<div class="more-box">
   <div class="more-img" style="background-image: url(images/sillepers.png);"> 
   </div>
   <p class="more-text"> Men's Slippers Min.50% off </p>
</div>
<div class="more-box">
  <div class="more-img" style="background-image: url(images/shorts.png);"> 
  </div>
  <p class="more-text">Kids'Shorts  </p>
</div>
<div class="more-box">
 <div class="more-img" style="background-image: url(images/jute.png);"> 
 </div>
 <p class="more-text">Mens'Sports shoeus </p>
</div>

</div>










<div class="more-product"> 
  <div class="more-box">
<div class="more-img" style="background-image: url(images/mats.png);"> 
</div>
<p class="more-text">Mates MIn. 50% off  </p>
</div>
<div class="more-box">
<div class="more-img" style="background-image: url(images/chpal.png);"> 
</div>
<p class="more-text">Mwns'slippers & shorts </p>
</div>
<div class="more-box">
<div class="more-img" style="background-image: url(images/care.png);"> 
</div>
<p class="more-text"> Personal Care Appliances  </p>
</div>
<div class="more-box">
<div class="more-img" style="background-image: url(images/oats.png);"> 
</div>
<p class="more-text">Oats upto min.60% off </p>
</div>

</div>

     </div>

    

    <footer  class="footer-panel4">
           
          <div class="pages"> 
            <a> conditions of use</a>
            <a>privacy notice</a>
            <a>your add privacy choices</a>
          </div>
          <div class="copyright">
            © 1996-2024, Flipkart.com , Inc. or its affiliates
          </div>
        </div>
        </footer>
      
      
   

</body>
</html>